*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    height: 93vh;
    background-image: url('https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    background-position: center;
    margin-top: 50px;
    background-size: cover;
    
}
.text-hero{
    position: relative;
top: 220px;
left:150px;
display: flex;
flex-direction: column;
align-items: center;
gap: 1.8rem;

    /* border: 2px solid yellow; */
    width: 32%;
}
.text-hero h1{
    font-weight: 900;
    font-size:3rem;
    text-align: center;
    line-height: 3.5rem;
}
.text-hero span{
    display: block;
    color: #B71C38;
}
.text-hero p{
    text-align: center;
    font-size: 1.2rem;
}
.hero-btn{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    /* border: 2px solid #06f; */
    /* float: left; */
    width: 100%;
    padding-left: 20px;
}
.hero-btn button{
   
  align-items: center;
  background-color: #E11D48;
  /* border: 2px solid #06f; */
  border: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  /* min-width: 140px; */
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 3px;
  width: 150px;
}
#know{
    background-color: white;
    color: #E11D48;

}
/* for tablet */
@media screen and (max-width: 835px){
    .text-hero{
        width: 50%;
    }
}


@media screen and (max-width: 428px) {
    .text-hero{
        width: 90%;
        left: 20px;
        top: 180px;
        
    }
    .hero-btn button{
        width: 100px;
    }
    
}
@media screen and (max-width: 321px){
    .text-hero h1{
        font-size: x-large;
    }
    .hero-btn{
        justify-content: center;
    }
    .hero-btn button{
        width: 100px;
    }
    .text-hero{
        top: 0px;
    }
}
